body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 100px;
}

.container {
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

.text-left {
    text-align: left;
}