body {
    font-family: "Poppins", sans-serif;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.container {
    width: 50%;
    margin: auto;
}

.text-left {
    text-align: left;
}

.block {
    margin-top: 80px;
}
